@if (showBackdrop()) {
<div
  tabindex="1"
  class="backdrop"
  (click)="handleBackdropClick()"
  (keyup)="onKeyup($event)"
></div>
}

<div class="header">
  {{ headerText() }}
</div>

<div class="post-grid">
  @for (post of posts(); track post.id) {
  <div
    tabindex="1"
    class="post"
    (click)="handlePostClick(post)"
    (keyup)="onKeyup($event, post)"
    [class.selectedPost]="post.id === activePostId()"
  >
    <app-post
      [postContent]="getPostContent(post)"
      [postHeader]="getPostHeaderContent(post)"
    />
  </div>
  }
</div>
