@if (showBackdrop$ | async) {
<div
  class="backdrop"
  (click)="toggleBackdropOff()"
  (keyup)="onKeyup($event)"
  aria-label="Backdrop"
></div>
}
<header>
  <div class="header-content">
    Active Post ID: {{ (activePostId$ | async) || "None" }}
  </div>
  <button class="toggle-grid-style" (click)="toggleGridMode()">
    Toggle Grid Style
  </button>
</header>

<main
  [ngClass]="{
    'post-grid-flexible': isFlexible$ | async,
    'post-grid-strict': !(isFlexible$ | async)
  }"
>
  @for (post of posts$ | async; track post.id) {
  <div
    tabindex="{{ post.id }}"
    class="post"
    (click)="handlePostClick(post)"
    (keyup)="onKeyup($event, post)"
    [class.selectedPost]="(activePostId$ | async) === post.id"
  >
    <app-post
      [postContent]="post[post.displayProperty || 'title']"
      [postHeader]="post.displayProperty || ''"
    ></app-post>
  </div>
  } @empty {
  <div>Posts failed to load!</div>
  }
</main>
